{% extends 'base.html' %}
{% load static %}
{% block title %} Category-detail {% endblock %}
{% block content %}
<div class="container">
    <div class=" py-5 page-h">
        <h2>{{category.title}}</h2>
        <hr>
        <div class="row row-cols-lg-4">
            {% for post in category.post_set.all %}
            <div class="p-3">
                <div class="card" >
                    {% if post.image.url != None %}
                        <img src="{{post.image.url}}" style='height: 150px; object-fit: cover;' class="card-img-top" alt="...">
                    {% else %}
                        <img src="{% static 'images/photo.jpg' %}" style='height: 150px; object-fit: cover;' class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">
                       
                        {% if post.title|length > 17 %}
                            {{ post.title|slice:':17' }}...
                        {% else %}
                            {{post.title}}
                        {% endif %}
                      </h5>
                      <p class="card-text">
                        {% if post.body|length > 50 %}
                            {{ post.body|slice:':45' }}...
                        {% else %}
                            {{post.body}}
                        {% endif %}
                      </p>
                      <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}